.educational-container {
    margin-left: 20em;
}

.educational-container h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0.5em 1em;
}

.educational-container label {
    color: black;
}



.educational-input-container {
    margin: 0 0 0 2.8em;
}

/* .educational-form {
    display: flex;
    flex-flow: column;
    width: 25%;
    margin: auto 0 auto 0;
} */

.educational-form {
    display: grid;
    width: auto;
    grid-template-columns: 20em 20em 20em;
    grid-gap: 20px;

}



.educational-input-group {
    display: flex;
    flex-flow: column;
}

.educational-form input {
    font-size: 1rem;
    height: auto;
    width: 100%;
    margin: 1em 0 1em 0;
}

.city-state input{
    height: auto;
    display: flex;
    flex-flow: column;
    margin: 1em 0;
}

.education-submit {
    width: 50%;
    margin: 0 auto 4em auto;
    grid-column: 1/4;
}




/* render */

.educational-preview {
    padding: 1em 3em;
}



.degree {
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.educational-info p {
   margin: 0.5em 1em;
   opacity: 0.56;
}