.edu-exp-container {
    margin-left: 20em;
}

.edu-exp-container h1 {
    width: 7em;
    font-size: 2.5rem;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
}

.edu-exp-container label {
    color: black;
}



.edu-exp-input-container {
    margin: 0 0 0 2.8em;
}


.edu-exp-form {
    display: grid;
    width: auto;
    grid-template-columns: 20em 20em 20em;
    grid-gap: 20px;

}



.edu-exp-input-group {
    display: flex;
    flex-flow: column;
}

.edu-exp-form input, textarea {
    font-size: 1rem;
    height: auto;
    width: 100%;
    margin: 1em 0 1em 0;
}

.edu-exp-form textarea {
    font-size: 0.8rem;
    height: 10em;
}
.city-state input{
    height: auto;
    display: flex;
    flex-flow: column;
    margin: 1em 0;
}

.edu-exp-submit {
    width: 50%;
    margin: 0 auto 4em auto;
    grid-column: 1/4;
}

.checkbox label {
    margin-left: 0.3em;
}

.checkbox input {
    width: 1em;
    margin-left: 1em;
}



/* render */



.position-title {
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.degree {
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.tasks {
    margin: 0.5em 1em 1em 1em;
    width: 40%;
    word-break: normal;
}

.edu-exp-info p {
   margin: 0.5em 1em;
   opacity: 0.56;
}

.edu-exp-edit {
    width: 4rem;
    font-size: 0.8rem;
    margin: auto auto 2em 1em;
}


.add-edu-exp {
    font-size: 1.4rem;
    margin-left: 1em;
    color: rgb(29, 185, 29);
}

.add-edu-exp:hover {
    cursor: pointer;
}