

.container {
        display: block;
        width: 20em;
        height: 100vh;
        background-color: #2b2a33;
        position: absolute;
}




.form-preview, .general-form label {
    color: white;
}

.general-form {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: auto;
    margin: auto auto 2em auto;
}

.general-form input {
    margin: auto 0 1.2em 0;
}




/* Rendered look */

.full-name {
    margin: 0.5em auto 0.5em 0.4em;
    font-size: 2.2rem;
}

.info-title {
    padding: 0.5em 0 0.5em 0.6em;
    margin-top: 0;
    background-color: #17171f;
}

.info-label {
    font-size: 0.8rem;
}

.info-content {
    margin: 0.3em auto 1.5em auto;
}

.personal-info {
    margin: auto auto auto 1em;
}

.edit {
    width: 4rem;
    font-size: 0.8rem;
    margin: auto auto auto 1em;
}